* {
    margin: 0;
    padding: 0;
    background-color: rgb(15, 21, 34);
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 768px) {
    body {
      align-items: baseline;
    }
  }
  
  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgb(11, 16, 26);
    width: 100%;
    height: auto;
    max-width: 500px;
    background-color: rgb(24, 34, 54);
    padding: 5px;
    border-radius: 5px;
    gap: 20px;
    color: #cf4a4a;
  }
  @media (max-width: 768px) {
    .Main {
      width: 100vw;
    }
  }
  
  .Title {
    color: white;
    font-family: "Arimo", sans-serif;
    text-align: center;
    background: none;
    font-size: 30px;
  }
  
  .logo {
    background: none;
    height: 82px;
  }
  
  .Top {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 75px;
    min-height: 50px;
    background: none;
  }
  
  .Items {
    width: 90%;
    height: auto;
    background-color: rgb(35, 50, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;
    box-shadow: 0px 0px 3px 2px rgb(11, 16, 26);
  }
  
  .Item {
    width: 100%;
    height: 100px;
    border-radius: 6px;
    color: white;
    font-family: "Arimo", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: rgb(25, 36, 58);
  }
  
  .IIYC {
    color: white;
    background: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Arimo", sans-serif;
  }
  
  .Img {
    height: 100%;
    width: 100px;
    border-radius: 10px;
  }
  
  .Item-Image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .Item-Info {
    width: 70%;
    display: flex;
    flex-direction: column;
    background: none;
  }
  
  .Name {
    width: 70%;
    background: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    overflow: hidden;
  }
  
  .Desc {
    background: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(179, 179, 179);
    overflow: hidden;
  }
  
  .Checkout-Info {
    width: 80%;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  #Total {
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 30px;
    background: none;
  }
  
  #Proceed {
    background-color: rgb(35, 50, 80);
    color: white;
    width: 60%;
    height: 40px;
    font-weight: 600;
    font-size: 1em;
    border-radius: 5px;
    letter-spacing: 1px;
    border-style: solid;
    border-color: rgb(20, 30, 46);
    border-width: 2px;
  }
  
  #Proceed:hover {
    cursor: pointer;
    background-color: rgb(57, 119, 71);
  }
  
  #Cancel {
    background-color: rgb(35, 50, 80);
    color: white;
    width: 40%;
    height: 30px;
    font-weight: 600;
    font-size: 1em;
    border-radius: 5px;
    letter-spacing: 1px;
    border-style: solid;
    border-color: rgb(20, 30, 46);
    border-width: 2px;
  }
  
  #Cancel:hover {
    cursor: pointer;
    background-color: rgb(160, 44, 44);
  }
  
  span {
    color: rgb(128, 202, 128);
    background: none;
    font-size: 16px;
  }
  
  .Delete {
    background: none;
    height: 25%;
    filter: invert(100%);
  }
  
  .Delete:hover {
    cursor: pointer;
    filter: invert(33%) sepia(22%) saturate(4110%) hue-rotate(330deg) brightness(98%) contrast(82%);
  }
  
  .Total {
    font-size: 25px;
  }