*{
    margin:0;
    padding:0;
    background-color:rgb(15, 21, 34);
    font-family:'Arimo', sans-serif;
}

body{
    width:100vw;
    height:100vh;
}

#Listing{
    width:500px;
    height:auto;
    background-color:rgb(24, 34, 54);
    border-radius:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

#Logo{
    background:none;
    height:25%;
    max-height:82px;
    max-width:166px;
}

h1{
    color:white;
    background:none;
}

p{
    color:white;
    background:none;
}

.txtinp{
    color:white;
    width:70%;
    height:20px;
    border-radius:6px;
    border-width:1px;
    border-color:rgb(35, 50, 80);
    border-style:outset;
    font-weight:400;
    padding:2px;
    letter-spacing:1px;
}

.txtinp::placeholder{
    color:rgb(163, 163, 163);
}

.txtinp:focus{
    border-color:rgb(12, 16, 26);
}

.lbl{
    background-color:rgb(35, 50, 80);
}

#Listing-Info{
    width:100%;
    height:auto;
    background:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}