* {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 21, 34);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bl {
  background-color: rgb(24, 34, 54);
}

.login {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
  box-shadow: 0px 0px 5px 5px rgb(11, 16, 26);
}
@media (min-width: 768px) {
  .login {
    width: 400px;
  }
}

.stxt {
  color: white;
}

.stitle {
  color: white;
  background: none;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.noacc {
  width: 100%;
  text-align: center;
  background: none;
  align-self: flex-end;
  font-family: "Arimo", sans-serif;
}

.reg {
  background: none;
  color: rgb(116, 116, 255);
}

.logo {
  background: none;
  height: 82px;
}

.loginbutton {
  background-color: rgb(35, 50, 80);
  color: white;
  width: 50%;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  border-style: solid;
  border-color: rgb(20, 30, 46);
  border-width: 2px;
}
@media (min-width: 768px) {
  .loginbutton {
    height: 30px;
  }
}

.loginbutton:hover {
  cursor: pointer;
  background-color: rgb(45, 65, 105);
}

.txtinp {
  color: white;
  width: 70%;
  height: 30px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(35, 50, 80);
  border-style: outset;
  font-weight: 400;
  font-size: 24px;
  padding: 2px;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .txtinp {
    height: 30px;
    font-size: 20px;
  }
}

.txtinp::-moz-placeholder {
  color: rgb(163, 163, 163);
}

.txtinp::placeholder {
  color: rgb(163, 163, 163);
}

.txtinp:focus {
  border-color: rgb(12, 16, 26);
}

.lbl {
  background-color: rgb(35, 50, 80);
}